/* ----media query--- */
/* ----mobile device-- */
@media only screen and (max-width: 688px) {
  .header-button {
    display: none;
  }
  .header-section p {
    margin-left: 25.5%;
    font-weight: 700;
    font-size: 30px;
  }
  .camera-section {
    display: grid;
    align-content: center;
    justify-items: center;
    margin-bottom: 20px;
    text-align: center;
    margin: 5%;
  }
  .camera-section h1 {
    font-size: 28px;
    font-weight: 900;
    margin-top: 20px;
  }
  .main-camera img {
    width: 70%;
  }
  .camera-bg {
    border: none;
  }
  .Journey {
    order: 1;
  }
  .all-logos {
    border: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-items: center;
  }
  .all-logos img {
    width: 60px;
  }
  .popular {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
  .related-section {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .related-text {
    margin-top: 20px;
  }
  .related-products img {
    width: 80px;
  }
}
@media only screen and (min-width: 689px) and (max-width: 992px) {
  .popular {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 10px;
  }
}
